<div class="container">
  <h2>体験について</h2>
お水あそび体験<br/>
シャワー浴び、水中歩行など、水慣れクラスのレッスンを体験します(30分程度<br/>
プールの水深を補助フロア台で調整し、必要に応じアームヘルパーを使用します。<br/>
保護者さまは、プール外の見学スペースにてご観覧いただけます。<br/>



<h2>入会受付について</h2>
月謝銀行引き落としについて<br/>
月謝引き落としはご入会の2か月後分からの引き落としとなります。<br/>
引き落とし日は、前月27日となります。例)4月分は3月27日となります。<br/>
※銀行引き落とし手続きにつきましては、体験時に手続き書類をお渡ししますのでご入会日にご記入の上ご持参ください。<br/>
※入会金、年会費及び2ヶ月分の月謝に関しては入会日にご持参してください。<br/>
・入会申込書(ご記入のうえ)<br/>
.入会金￥3,000(税込)<br/>
・年会費￥6,000<br/>
(税込)<br/>
・月謝 ￥8,00(税込)X2ヶ月分<br/>
(休会費は￥2,500となります)<br/>
合計￥26,000(税込)

</div>