<div class="top-page">
    <h1 class="main-title">スイミングスクール</h1>

    <!-- ログインと新規登録リンク -->
    <div class="login-register-links">
        <%= link_to 'ログイン', new_customer_session_path, class: "btn btn-login" %>
        <%= link_to '新規登録', new_customer_registration_path, class: "btn btn-register" %>
    </div>

    <!-- 他のリンク -->
    <div class="additional-links">
        <%= link_to '入会・体験についてはこちら', about_path, class: "btn btn-sm btn-danger" %><br />
        <%= link_to 'スケジュール表', calender_index_path, class: "btn btn-sm btn-danger" %><br />
    </div>
</div>
