<div class="container">
  <h2>振替日確定</h2>
  <p>振替日確定致しました。</p>
  <p>ご登録ありがとうございました。</p>

  <table class="table">
    <thead>
      <tr>
        <th>お休み日</th>
        <th>振替日</th>
        <th>振替時間</th>
        <th>クラス</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <% if @dates.off.present? %>
            <%= @dates.off.off_month.strftime("%Y-%m-%d") %>
          <% else %>
            データが見つかりません
          <% end %>
        </td>
        <td><%= @dates.transfer_date.strftime("%Y-%m-%d") if @dates.transfer_date %></td>
        <td><%= @dates.transfer_time %></td>
        <td><%= @dates.level %></td>
      </tr>
    </tbody>
  </table>
</div>
