<div class="container">
 <h2>振替日確定</h2>
 <h4>振替日確定致しました。</h4><br>
 <h4>ご登録ありがとうございました。</h4><br>

  <table class="table">
    <thead>
      <P>振替情報</P>
      <tr>
        <th>お休み日</th>
        <th>振替日</th>
        <th>振替時間</th>
        <th>クラス</th>
      </tr>
    </thead>
  <% end %>
    <tbody>
      <% @date.each do |date| %>
      <tr>
      <td>
        <%#= off.off_day %>
      </td>
      <td>
        <%= date.transfer_date %>
      </td>
      <td>
        <%= date.transfer_time %>
      </td>

      <td>
        <%= date.level %>
      </td>
    <% end %>

    </tbody>
  </table>
</div>