// Place all the styles related to the admin/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.alphabet-links {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
  
    a {
      text-decoration: none;
      color: white;
      background-color: #6c757d;
      padding: 5px 10px;
      border-radius: 5px;
      &:hover {
        background-color: #5a6268;
      }
    }
  }
  