<div id='calendar'></div>
<div class="container">

<P class="fc-day-sun">日曜日</P>
<P>12:00〜13:00     2歳カニ〜青星4</P>
<P>13:00〜14:00     3歳カニ〜ピンク</P>
<P>14:00〜15:00     黄星2〜ピンク</P>
<P>17:00〜18:00     3歳カニ〜ピンク</P>
<br />
<P class="fc-day-wed">水曜日</P>
<P>14:30〜15:30     年少年中·年長</P>
<P>15:15〜16:15     年中・年長·小学生</P>
<P>19:30〜20:30    小学生</P>
<br />
<P class="fc-day-thu">木曜日</P>
<P>14:30〜15:30     年少</P>
<P>15:00〜16:00    年中·年長</P>
<br />
<P class="fc-day-sat">土曜日</P>
<P>16:00〜17:00     3歳カニ〜ピンク</P>
<P>17:00〜18:00     イルカ〜ピンク</P>
<P>18:00〜19:00     小学生</P><br/>
※変更があった場合ここに記載
</div>