@use '~bootstrap/scss/bootstrap';

.fc-daygrid-day-number {
  font-size: 30px;
}

.fc-day-wed {
  background: #E1F5FE;
}

.fc-day-thu {
  background: #C5E1A5;
}

.fc-day-sat {
  background: #FFD54F;
}

.fc-day-sun {
  background: #F48FB1;
}

html, body {
  height: 100%; /* ページ全体の高さを設定 */
  overflow: auto; /* 必要に応じてスクロール可能にする */
}

form {
  min-height: calc(100vh - 50px); /* ビューポート高さを考慮し、下部に余白を作る */
  margin-bottom: 2rem; /* キーボード表示時の余白 */
}
